aiohttp
aiosignal
astor
async-timeout
attrs
autopep8
beautifulsoup4
black
blinker
build
cachelib
certifi
cfgv
charset-normalizer
check50
click
colorama
command-not-found
contourpy
coverage
cryptography
cs50
cycler
dbus-python
distlib
distro
distro-info
docopt
docutils
EditorConfig
eradicate
exceptiongroup
fastjsonschema
filelock
flake8
flake8-bugbear
flake8-builtins
flake8-comprehensions
flake8-eradicate
flake8-executable
flake8-isort
flake8-plugin-utils
flake8-pytest-style
flake8-raise
flake8-string-format
flake8_implicit_str_concat
flake8_simplify
Flask
Flask-Cors
Flask-Session
Flask-SQLAlchemy
flit
flit_core
fonttools
frozenlist
greenlet
httplib2
icdiff
identify
idna
importlib-metadata
iniconfig
isort
itsdangerous
jeepney
jellyfish
Jinja2
jsbeautifier
jsonschema
jsonschema-specifications
junit2html
jupyter_core
keyring
kiwisolver
launchpadlib
lazr.restfulclient
lazr.uri
lib50
mando
MarkupSafe
matplotlib
mccabe
more-itertools
multidict
mypy
mypy-extensions
nbformat
netifaces
nodeenv
numpy
oauthlib
packaging
pandas
pathspec
pexpect
pigar
pillow
pip-tools
pipreqs
platformdirs
pluggy
pre-commit
psycopg2-binary
ptyprocess
pycodestyle
pydocstyle
pyflakes
PyGObject
PyJWT
pyparsing
pyproject_hooks
pytest
pytest-cov
pytest-timeout
python-apt
python-dateutil
python-magic
pytz
PyYAML
radon
referencing
requests
rpds-py
SecretStorage
six
snowballstemmer
soupsieve
SQLAlchemy
sqlparse
style50
systemd-python
termcolor
tomli
tomli_w
traitlets
typing_extensions
tzdata
ubuntu-advantage-tools
ufw
unattended-upgrades
urllib3
uva.check50 @ git+https://github.com/jelleas/uva_check50.git@ea8944d4d073b339473e6b0fcb59c584769db214
virtualenv
wadllib
Werkzeug
yarg
yarl
zipp
